$nav-height: 90px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$card-width: 288px;
$card-height: 416px;
$card-text: 20px;
$footer-height: 144px;
$footer-logo-height: 40px;
