@import 'colors';
@import 'site-sizes';

body {
  font-family: 'Open Sans', sans-serif;

  .container {
    align-items: center;
    padding: 128px 48px 48px;

    .technologies {
      display: grid;
      grid-template-columns: auto auto auto;

      .main-tech {
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }
}
