@import 'colors';
@import 'site-sizes';

body {
  font-family: 'Open Sans', sans-serif;

  .container {
    align-items: center;
    display: grid;
    grid-template-areas:
      "front-title  front-title"
      "main-front   front"
      "back-title   back-title"
      "main-back    back";

    grid-template-columns: 40% 37%;
    grid-template-rows: 6rem 54rem 6rem 54rem;
    padding: 128px 48px 48px;

    .inner-grid {
      align-items: center;
      border-left: 2px $green solid;
      display: grid;
      height: 100%;
      grid-template-areas:
        "item1   item2"
        "item3   item4";

      background: slategrey;

      &.frontend {
        grid-area: front;
      }

      &.backend {
        grid-area: back;
      }

      .item-1, .item-2, .item-3, .item-4{
        margin: 1rem;
      }

      .item-1 {
        grid-area: item1;
      }

      .item-2 {
        grid-area: item2;
      }

      .item-3 {
        grid-area: item3;
      }

      .item-4 {
        grid-area: item4;
      }
    }
  }
}
