@import 'colors';
@impoort 'site-sizes';

%card-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin background_transition($top, $left) {
  top: $top;
  left: $left;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.tech {
  @extend %card-radius;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: $card-height;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
  position: relative;
  width: $card-width;

  &.main-tech {
    border-right: 2px $green solid;
    height: 100%;
    justify-content: center;
    margin: 0 16px 16px auto;
  }

  img {
    &.icon {
      height: $title-decoration-height;
      margin-bottom: 16px;
      max-width: 100%;
      object-fit: contain;
      width: 176px;
    }
  }

  .text {
    font-size: $card-text;
    margin: 8px 0;
    text-align: center;
  }

  .bold {
    font-weight: bold;
    margin: 8px 0 16px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    nav.main {
      h3.text {
        display: none;
      }
    }

    .container {
      .technologies {
        grid-template-columns: 100%;
        grid-gap: 16px;

        .tech {
          border-bottom: 2px $green solid;

          &.main-tech {
            border-right: 0;
            margin: auto;
          }

          &.large {
            height: 418px;
          }

          &.no-last-border {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
