@import 'colors';
@impoort 'site-sizes';

%card-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin background_transition($top, $left) {
  top: $top;
  left: $left;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;

  .tech {
    @extend %card-radius;
    background: white;
    height: $card-height;
    margin: 24px;
    width: $card-width;

    .upper {
      @extend %card-radius;
      align-items: center;
      background: $green;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px;
      position: relative;
      width: 100%;

      &:before {
        @extend %card-radius;
        @include background_transition(-16px, -16px);
        background: transparent;
        border: 2px $green solid;
        content: '';
        max-width: 100%;
        position: absolute;
        height: $card-height;
        width: $card-width;
        z-index: -1;
      }

      &:hover {
        &::before {
          @include background_transition(12px, 12px);
        }
      }

      img {
        &.icon {
          height: $title-decoration-height;
          margin-bottom: 16px;
          max-width: 100%;
          object-fit: contain;
          width: 176px;
        }
      }

      .text {
        font-size: $card-text;
        margin: 8px 0;
        text-align: center;
      }

      .bold {
        font-weight: bold;
        margin: 8px 0 16px;
      }
    }
  }
}
