.title {
  display: flex;
  justify-content: center;

  h3 {
    &.description {
      align-self: center;
      font-size: 32px;
      margin-left: -24px;
    }
  }

  img {
    &.triangle {
      height: 128px;
    }
  }
}
